<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>QalaKriti</title>
</head>
<body>
  <h1>QalaKriti</h1>
  <img id = "cover-image" src="https://57df00b1-dff1-408a-8fb2-6b5ac8b7e74e-00-sa2p5shrujqo.sisko.replit.dev/static/banner.jpg" alt="Image showing handicrafts" width = 320>
  <h2>About QalaKriti</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ac lorem et pretium. Curabitur posuere a odio non faucibus. Aenean et orci fringilla dui laoreet lacinia. Vestibulum efficitur nisl ut dolor accumsan iaculis. Donec ullamcorper hendrerit eros nec ultricies. Suspendisse quis lacus dignissim leo venenatis ullamcorper. Praesent bibendum nunc in venenatis semper. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eget nibh ut nisi iaculis pellentesque non nec turpis. Nam at tempor sapien, porta efficitur arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam elementum mattis euismod. Fusce quis nunc at dolor auctor volutpat ac eget dui. Mauris vitae erat gravida, aliquam lorem sed, hendrerit augue.</p>
  <h2>Shop</h2>
  <p>Undone - Show the different jobs to do</p>
  <div style = "text-align:center">
    <button>Contact Us</button>
  </div>
</body>
</html>
